<h1>Pipes</h1>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Variable</th>
      <th>Pipe</th>
      <th>Producto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{nombre}}</th>
      <td>Uppercase</td>
      <td>{{nombre|uppercase}}</td>
    </tr>
    <tr>
      <th scope="row">{{nombre}}</th>
      <td>Lowercase</td>
      <td>{{nombre|lowercase}}</td>
    </tr>
    <tr>
      <th scope="row">{{nombre}}</th>
      <td>Slice 3</td>
      <td>{{nombre|slice:3}}</td>
    </tr>
    <tr>
      <th scope="row">{{nombre}}</th>
      <td>Slice 0 3</td>
      <td>{{nombre|slice:0:3}}</td>
    </tr>
    <tr>
      <th scope="row">{{array}}</th>
      <td>array 1 5</td>
      <td>{{array|slice:1:5}}</td>
    </tr>
    <tr>
      <th scope="row">{{PI}}</th>
      <td>PI 3.0-0</td>
      <td>{{PI|number:"3.0-0"}}</td>
    </tr>
    <tr>
      <th scope="row">{{PI}}</th>
      <td>PI 1.0-2</td>
      <td>{{PI|number:"1.0-2"}}</td>
    </tr>
    <tr>
      <th scope="row">{{porcentaje}}</th>
      <td>percent</td>
      <td>{{porcentaje|percent}}</td>
    </tr>
    <tr>
      <th scope="row">{{porcentaje}}</th>
      <td>percent 2.2-4</td>
      <td>{{porcentaje|percent:'2.2-4'}}</td>
    </tr>
    <tr>
      <th scope="row">{{importe}}</th>
      <td>currency</td>
      <td>{{importe|currency}}</td>
    </tr>
    <tr>
      <th scope="row">{{importe}}</th>
      <td>currency:'EUR'</td>
      <td>{{importe|currency:'EUR'}}</td>
    </tr>
    <tr>
      <th scope="row">{{importe}}</th>
      <td>currency:'EUR':true</td>
      <td>{{importe|currency:'EUR':true}}</td>
    </tr>
    <tr>
      <th scope="row">{{importe}}</th>
      <td>currency:'EUR':true:'4.0-0'</td>
      <td>{{importe|currency:'EUR':true:'4.0-0'}}</td>
    </tr>
    <tr>
      <th scope="row">{{valorDePromesa}}</th>
      <td>async</td>
      <td>{{valorDePromesa|json}}</td>
    </tr>
    <tr>
      <th scope="row">{{valorDePromesa}}</th>
      <td>async</td>
      <td>{{valorDePromesa|async}}</td>
    </tr>
    <tr>
      <th scope="row">{{valorDePromesa}}</th>
      <td>async</td>
      <td>{{valorDePromesa|async}}</td>
    </tr>
    <tr>
      <th scope="row">{{fecha}}</th>
      <td>date</td>
      <td>{{ fecha | date }}</td>
    </tr>
    <tr>
      <th scope="row">{{fecha}}</th>
      <td>date:medium</td>
      <td>{{ fecha | date:medium }}</td>
    </tr>
    <tr>
      <th scope="row">{{fecha}}</th>
      <td>date:medium</td>
      <td>{{ fecha | date:'medium' }}</td>
    </tr>
    <tr>
      <th scope="row">{{fecha}}</th>
      <td>date:'MMMM - dd'</td>
      <td>{{ fecha | date:'MMMM - dd' }}</td>
    </tr>

</table>

<h2>Slice array</h2>
<ul>
  <li *ngFor="let item of array|slice:5">{{item}}</li>
</ul>

<h2>JSON</h2>

<pre>{{heroe|json}}</pre>

<br><br><br><br><br><br><br>
